In [15]:
%%capture
!pip install "dlt[duckdb]"
import dlt

defining the pipeline and add the first generator in a table ("table1")

In [21]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}
pipeline = dlt.pipeline(destination='duckdb', dataset_name='homework_workshop')
info = pipeline.run(people_1(), table_name="table1")

In [22]:
print(info)

Pipeline dlt_ipykernel_launcher load step completed in 0.21 seconds
1 load package(s) were loaded to destination duckdb and into dataset homework_workshop
The duckdb destination used duckdb:////Users/arnaud/dlt_ipykernel_launcher.duckdb location to store data
Load package 1707844789.916435 is LOADED and contains no failed jobs

Query to see the average of ages with the datas from the first decorator

In [26]:
 with pipeline.sql_client() as client:
        res = client.execute_sql(
            "SELECT SUM(Age) FROM table1"
            
        )
        # prints columns values of first row
        print(res)

[(140,)]

Add the datas from the second generator

In [27]:
def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}
info = pipeline.run(people_2(), table_name="table1")

Query to answer the question3 with the sum of ages of the datas from the two generators whern they are appended

In [33]:
with pipeline.sql_client() as client:
        res = client.execute_sql(
            "SELECT SUM(Age) FROM table1"
            
        )
        # prints columns values of first row
        print(res)

[(353,)]

First method to merge the generators in a table using the ID as primary key

In [38]:
@dlt.resource(
    table_name="table2",
    write_disposition="merge",
    primary_key="ID")
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}
info_1 = pipeline.run(people_1())

In [44]:
@dlt.resource(
    table_name="table2",
    write_disposition="merge",
    primary_key="ID")
def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}
info_1 = pipeline.run(people_2())

In [49]:
with pipeline.sql_client() as client:
        res = client.execute_sql(
            "SELECT SUM(AGE) FROM table2  "
            
        )
        # prints columns values of first row
        print(res)

[(266,)]

In [47]:
with pipeline.sql_client() as client:
        res = client.execute_sql(
            "SELECT ID,AGE FROM table2 WHERE ID == 3 "
            
        )
        # prints columns values of first row
        print(res)

[(3, 33)]

Second method to merge the generators in a table using the ID as primary key

In [48]:
def people_1():
    for i in range(1, 6):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 25 + i, "City": "City_A"}
pipeline = dlt.pipeline(destination='duckdb', dataset_name='homework_workshop')
info_4 = pipeline.run(people_1(), table_name="table4",write_disposition="merge",
    primary_key="ID")

In [51]:
def people_2():
    for i in range(3, 9):
        yield {"ID": i, "Name": f"Person_{i}", "Age": 30 + i, "City": "City_B", "Occupation": f"Job_{i}"}
info_4 = pipeline.run(people_2(), table_name="table4",write_disposition="merge",
    primary_key="ID")

In [54]:
with pipeline.sql_client() as client:
        res = client.execute_sql(
            "SELECT SUM(AGE) FROM table4 "
            
        )
        # prints columns values of first row
        print(res)

[(266,)]

In [55]:
with pipeline.sql_client() as client:
        res = client.execute_sql(
            "SELECT ID,AGE FROM table4 WHERE ID == 3"
            
        )
        # prints columns values of first row
        print(res)

[(3, 33)]